body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: sans-serif;

  &.pizza-trippy {
    background-image: url("/assets/images/pizza-trippy.gif");
  }

  &.trippy-pizza {
    background-image: url("/assets/images/trippy-pizza.gif");
  }

  &.tile-pizza {
    background-image: url("/assets/images/tile-pizza.gif");
  }

  &.big-rich,
  &.untouched {
    background-image: url("/assets/images/header.jpg");
  }
}

.container {
  margin: 0 auto;
  padding: 20px;

  p {
    margin: 10px auto;
  }
}

.d-none {
  display: none;
}

.disclaimer {
  font-size: 0.7rem;
  font-style: italic;
}
