body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &.pizza-trippy {
    background-image: url("/assets/images/pizza-trippy.gif");
  }

  &.trippy-pizza {
    background-image: url("/assets/images/trippy-pizza.gif");
  }

  &.tile-pizza {
    background-image: url("/assets/images/tile-pizza.gif");
  }

  &.big-rich {
    background-image: url("/assets/images/header.jpg");
  }

  #gimme-pizza {
    display: none;
  }
}
