body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Raleway", sans-serif;

  #pizza-animations {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }

  .container {
    margin: 0 auto;
    padding: 20px;

    p {
      margin: 10px auto;

      &.disclaimer {
        font-size: 0.7rem;
        font-style: italic;
      }
    }
  }
}

.webp body {
  background-image: url("/assets/images/header.webp");
}

.no-webp body {
  background-image: url("/assets/images/header.jpg");
}

.d-none {
  display: none !important;
}
